@font-face {
  font-family: 'Helvetica-Light';
  src: url('fonts/Helvetica-Light.otf');
}

@font-face {
  font-family: 'Helvetica-Regular';
  src: url('fonts/Helvetica-Regular.otf');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('fonts/Helvetica-Bold.otf');
}

:root {
  --smeared-shadow: 10px 20px 40px 10px rgba(105, 105, 105, 0.25);
  --blue: #006cb4;
  --black: #212529;
  --black-65: rgba(0, 0, 0, 0.65);
  --background-color: #f5f5f7 !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color) !important;
  font-family: 'Helvetica-Regular' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

section {
  padding: 2em 1.6em !important;
}

.section-padding {
  padding: 2em 1.6em !important;
}

.frame {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--smeared-shadow);
  height: auto;
  overflow: hidden;
}

.frame img {
  width: 100%;
  object-fit: cover;
}

.curvy-card {
  background-color: #ffffff;
  box-shadow: var(--smeared-shadow);
  border-radius: 100px;
  padding: 4em 5em 4em 3em;
}

.curvy-card img {
  height: auto;
  object-fit: contain;
}

h1.mega {
  font-size: calc(1.4em + 1.8vw ) !important;
}

h1.giga {
  font-size: calc(1.55em + 2.1vw ) !important;
}

h1.tera {
  font-size: calc(1.625em + 2.4vw ) !important;
}

h1.peta {
  font-size: calc(1.7em + 2.7vw ) !important;
}

h1.exa {
  font-size: calc(1.775em + 3.0vw ) !important;
}

h1.zetta{
  font-size: calc(1.85em + 3.3vw ) !important;
}

h1.yota{
  font-size: calc(1.925em + 3.6vw ) !important;
}

.lh-half {
  line-height: 0.5;
}

.lh-3quarter {
  line-height: 0.75;
}

.lh-whole {
  line-height: 1;
}

.lh-wholeAndHalf {
  line-height: 1.5 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.font-light {
  font-family: 'Helvetica-Light' !important;
}

.font-regular {
  font-family: 'Helvetica-Regular' !important;
}

.font-bold{
  font-family: 'Helvetica-Bold' !important;
}

.text-upright {
  text-orientation: sideways !important;
  writing-mode: horizontal-tb !important;
  transform: rotate(0deg) !important;
}

.text-sideways.bottom {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.text-sideways.top {
  writing-mode: vertical-lr;
}

.bg-white-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-gray-25 {
  background-color: #f5f5f7 ;
}

.flex-basis-25 {
  flex: 0 0 auto;
  flex-basis: 25%;
  height: auto;
}

.flex-basis-33 {
  flex: 0 0 auto;
  flex-basis: 33.33%;
  height: auto;
}

.flex-basis-30 {
  flex: 0 0 auto;
  flex-basis: 30%;
  height: auto;
}

.flex-basis-40 {
  flex: 0 0 auto;
  flex-basis: 40%;
  height: auto;
}

.flex-basis-50 {
  flex: 0 0 auto;
  flex-basis: 50%;
  height: auto;
}

.flex-basis-60 {
  flex: 0 0 auto;
  flex-basis: 60%;
  height: auto;
}

.flex-basis-70 {
  flex: 0 0 auto;
  flex-basis: 70%;
  height: auto;
}

.flex-basis-75 {
  flex: 0 0 auto;
  flex-basis: 75%;
  height: auto;
}

.flex-basis-100 {
  flex: 0 0 auto;
  flex-basis: 100%;
  height: auto;
}

.w-33 {
  width: 33.33%;
}

.scroll-horizontal {
  overflow-x: scroll;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.shape-square {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.shadow-full {
  box-shadow: var(--smeared-shadow);
}

.shadow-none {
  box-shadow: 0 !important;
}

.bg-gradient-blue {
  background: linear-gradient(135deg,#1c7df3,#1abcfa);
}

.bg-gradient-light-blue {
  background: linear-gradient(135deg,#b6eaff, white);
}

.bg-blue {
  background-color: rgb(2, 154, 255) !important;
}

.bg-blue-5 {
  background-color: rgb(2, 154, 255, 0.05) !important;
}

.bg-blue-10 {
  background-color: rgb(2, 154, 255, 0.10) !important;
}

.bg-blue-25 {
  background-color: rgb(2, 154, 255, 0.25) !important;
}

.bg-blue-50 {
  background-color: rgb(2, 154, 255, 0.50) !important;
}

.bg-black-25 {
  background-color: rgb(0, 0, 0, 0.25) !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.text-blue {
  color: var(--blue);
}

.text-adaptive {
  color: var(--background-color) !important;
}

.text-justified {
  text-align: justify;
}

.emphasis-none {
  border-left: 0 !important;
}

.clickable {
  pointer-events: all;
  cursor: pointer;
}

.touchable {
  pointer-events: all !important;
  cursor: default !important;
}

.rotate-in {
  animation: rotateIn 0.5s;
}

.rotate-out {
  animation: rotateOut 0.5s;
}

.bttn-transparent {
  background-color: transparent;
  border: 0;
}

.bg-blur {
  backdrop-filter: blur(5px);
}

#logo {
  width: 4em;
  height: auto;
  aspect-ratio: 1/1;
  padding: 5% 10%;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}

.shape-circle {
  aspect-ratio: 1/1 !important;
  border-radius: 100% !important;
}

.active #logo {
  background-color: var(--blue);
}

#logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-link.active {
  color: var(--blue) !important;
}

img.shadow-full {
  filter: drop-shadow(10px 10px 20px rgba(105, 105, 105, 0.25));
  box-shadow: none !important;
}


@keyframes fadeBlurFloat {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, 5em);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
  }
}

@keyframes rotateIn {
  0% {
    scale: 1 -1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes rotateOut {
  0% {
    scale: 1 -1;
  }
  100% {
    scale: 1 1;
  }  
}

@keyframes fade {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-10%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes appearFromRight {
  0% {
    transform: translateX(10%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}


@keyframes appearFromBottom {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes growFromBottom {
  0% {
    scale: .9;
    transform: translateY(50%);
    visibility: hidden;
  }
  100% {
    scale: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes bumpScootFromRight {
  0% {
    transform: translateX(25%) scaleX(1);
    visibility: hidden;
  }
  50%{
    transform: translateX(-25%) scaleX(0.85);
    visibility: visible;
  }
  100% {
    transform: translateX(0) scaleX(1);
    visibility: visible;
  }
}

@keyframes bumpScootFromLeft {
  0% {
    transform: translateX(-25%) scaleX(1);
    visibility: hidden;
  }
  50%{
    transform: translateX(25%) scaleX(0.85);
    visibility: visible;
  }
  100% {
    transform: translateX(0) scaleX(1);
    visibility: visible;
  }
}

.animate{
  visibility: hidden;
}

.with-animation.start .animate {
  visibility: visible;
}

.with-animation.start .animate.fade-in.very-fast {
  animation: fade 0.25s;
}

.with-animation.start .animate.fade-in.fast {
  animation: fade 0.5s !important;
}

.with-animation.start .animate.fade-in {
  animation: fade 0.75s;
}

.with-animation.start .animate.fade-in.slow {
  animation: fade 1s !important;
}

.with-animation.start .animate.fade-in.very-slow {
  animation: fade 1.5s !important;
}

.with-animation.start .animate.fade-in.very-slow.delay-500 {
  animation: fade 2s !important;
}

.with-animation.start .animate.fade-in.very-slow.delay-1000 {
  animation: fade 2.5s !important;
}

.with-animation.start .animate.fade-blur-float.very-fast {
  animation: fadeBlurFloat 0.25s;
}

.with-animation.start .animate.fade-blur-float.fast {
  animation: fadeBlurFloat 0.5s;
}

.with-animation.start .animate.fade-blur-float {
  animation: fadeBlurFloat 0.75s;
}

.with-animation.start .animate.fade-blur-float.slow {
  animation: fadeBlurFloat 1s !important;
}

.with-animation.start .animate.fade-blur-float.very-slow {
  animation: fadeBlurFloat 1.5s !important;
}

.with-animation.start .animate.appear-right {
  animation: appearFromRight 0.75s;
}

.with-animation.start .animate.appear-right.slow {
  animation: appearFromRight 1s !important;
}

.with-animation.start .animate.appear-right.very-slow {
  animation: appearFromRight 1.5s !important;
}

.with-animation.start .animate.appear-left {
  animation: appearFromLeft 0.75s;
}

.with-animation.start .animate.appear-left.slow {
  animation: appearFromLeft 1s !important;
}

.with-animation.start .animate.appear-left.very-slow {
  animation: appearFromLeft 1.5s !important;
}

.with-animation.start .animate.appear-top.very-fast {
  animation: appearFromTop 0.25s;
}

.with-animation.start .animate.appear-top.fast {
  animation: appearFromTop 0.5s;
}

.with-animation.start .animate.appear-top {
  animation: appearFromTop 0.75s !important;
}

.with-animation.start .animate.appear-top.slow {
  animation: appearFromTop 1s !important;
}

.with-animation.start .animate.appear-top.very-slow {
  animation: appearFromTop 1.5s !important;
}

.with-animation.start .animate.appear-bottom.very-fast {
  animation: appearFromBottom 0.25s;
}

.with-animation.start .animate.appear-bottom.fast {
  animation: appearFromBottom 0.5s;
}

.with-animation.start .animate.appear-bottom {
  animation: appearFromBottom 0.75s;
}

.with-animation.start .animate.appear-bottom.slow {
  animation: appearFromBottom 1s !important;
}

.with-animation.start .animate.appear-bottom.very-slow {
  animation: appearFromBottom 1.5s !important;
}

.with-animation.start .animate.grow-bottom {
  animation: growFromBottom 0.75s;
}

.with-animation.start .animate.grow-bottom.slow {
  animation: growFromBottom 1s;
}

.with-animation.start .animate.grow-bottom.very-slow {
  animation: growFromBottom 1.5s;
}

.with-animation.start .animate.bump-scoot-right {
  animation: bumpScootFromRight 1s;
}

.with-animation.start .animate.bump-scoot-right.delay-0 {
  animation: bumpScootFromRight 1s;
}

.with-animation.start .animate.bump-scoot-right.delay-1 {
  animation: bumpScootFromRight 1s 0.1s;
}

.with-animation.start .animate.bump-scoot-right.delay-2 {
  animation: bumpScootFromRight 1s 0.2s;
}

.with-animation.start .animate.bump-scoot-right.delay-3 {
  animation: bumpScootFromRight 1s 0.3s;
}

.with-animation.start .animate.bump-scoot-right.delay-4 {
  animation: bumpScootFromRight 1s 0.4s;
}

.with-animation.start .animate.bump-scoot-left {
  animation: bumpScootFromLeft 1s;
}

.with-animation.start .animate.bump-scoot-left.delay-0 {
  animation: bumpScootFromLeft 1s;
}

.with-animation.start .animate.bump-scoot-left.delay-1 {
  animation: bumpScootFromLeft 1s 0.1s;
}

.with-animation.start .animate.bump-scoot-left.delay-2 {
  animation: bumpScootFromLeft 1s 0.2s;
}

.with-animation.start .animate.bump-scoot-left.delay-3 {
  animation: bumpScootFromLeft 1s 0.3s;
}

.with-animation.start .animate.bump-scoot-left.delay-4 {
  animation: bumpScootFromLeft 1s 0.4s;
}

.work-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.work-card:hover {
  scale: 1.05;
}

#works a,
#view a,
.work-card a {
  color: var(--black);
  filter: none;
  transition: filter 0.2s ease;
}

.text-white a
.text-white a,
.text-white a {
  color: white !important;
}

#works a.text-blue,
#view a.text-blue,
.work-card a.text-blue {
  color: var(--blue) !important;
}

.clickable:hover,
#works a:hover,
#view a:hover,
.work-card a:hover {
  filter: brightness(2);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
    line-clamp: 2;
  -webkit-box-orient: vertical;
}

#recent-work-carousel .carousel-control-prev, .carousel-control-next {
  display: none !important;
}

#recent-work-carousel .carousel-indicators {
  position: initial !important;
}

#recent-work-carousel .carousel-indicators button {
  background-color: var(--black);
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  margin: 0 5px;
  opacity: 0.15;
}

#recent-work-carousel .carousel-indicators button.active {
  opacity: 0.85 !important;
}

#recent-work-carousel .carousel-inner,
#recent-work-carousel .carousel-item  {
  height: 100%;
}

.border-round{
  border-radius: 15px !important;
}

.border-round-left {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.border-round-right {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.border-round-left {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

.screen-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  aspect-ratio: 1/1;
  transition: scale 0.2s ease;
  pointer-events: none;
  border: 0;
}

.screen-card img {
  width: 100%;
  height: 100%;
  pointer-events: all;
  cursor: pointer;

  object-fit: cover;
  object-position: center top;
  transition: translate 0.2s ease;
}

.screen-card:hover img {
  filter: brightness(0.5)
}


.explore-link {
  background-color: white;
  padding: 0.25em 0.75em;
  border-radius: 5px;
  text-decoration: none;
  color: var(--background) !important;
  font-size: 1.2em;
  font-weight: 600;
}

.explore-link:hover {
  background-color: antiquewhite;
  color: var(--background) !important;
}

#work-view .accordion * {
  background-color: transparent;
  border: 0;
  color: white;
}

#work-view .accordion {
  background-color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px;
  padding: 1em;
}

#work-view .accordion-button {
  padding: 0 !important;
}

#work-view .accordion-button:not(.collapsed) {
  padding-bottom: 1em !important;
}

#work-view .accordion-button::after {
  filter: brightness(10);
}

#work-view .accordion-button:not(.collapsed)::after {
  filter: brightness(15) hue-rotate(230deg);
}

#work-view .accordion-button:not(.collapsed) h5 {
  color: var(--primary) !important;
}

#work-view .accordion-button:focus {
  box-shadow: none !important;
}

#work-view .accordion-body {
  padding: 0.5em 1em;
}

#work-view .accordion-body ul{
  margin: 0 !important;
}

.no-scroll {
  overflow: hidden;
}

.lightbox-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 1%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(189, 189, 189, 0.75);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: end;
}

.lightbox-modal.show {
  display: inline-block;
  animation: fade 0.25s;
}

.lightbox-close {
  display: inline-block;
  position: absolute;
  z-index: 99999999;
  right: 2%;
  top: 2%;
  background: none;
  border: none;
  font-size: 2em;
}

.lightbox-contents {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-contents button {
  background: none;
  border: none;
  font-size: 2em;
}

.lightbox-contents button.gallery-nav {
  width: 3em;
  height: auto;
  aspect-ratio: 1/1;
  padding: 0 !important;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

.lightbox-contents button.gallery-nav:not(:disabled):hover {
  background: white;
  box-shadow: var(--smeared-shadow);
}

.lightbox-gallery {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.lightbox-gallery-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery-images {
  height: 75% !important;
}

.album-entry {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.album-entry img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.album-entry.animate-from-right {
  animation: appearFromRight 0.25s;
}

.album-entry.animate-from-left {
  animation: appearFromLeft 0.25s;
}

.album-entry.animate-static {
  animation: fade 0.25s;
}

.gallery-image-description {
  height: 10% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-thumbnails {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  overflow-x: scroll;
}

.album-thumbnail {
  height: 100%;
}

.album-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-thumbnail:hover img {
  filter: brightness(0.5);
  transition: filter 0.25s ease;
}

.album-thumbnail.active {
  border: 5px solid white;
}

.album-thumbnail.active img {
  filter: brightness(0.5);
}

.tech-icon {
  height: 1.5em;
  width: auto;
  filter: brightness(0);
}

.tech-icon.light {
  height: 1.5em;
  width: auto;
  filter: brightness(100);
}

.aspect-ratio-0 {
  aspect-ratio: 0 !important;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1 !important;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4/3 !important;
}

.aspect-ratio-8-5 {
  aspect-ratio: 8/5 !important;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9 !important;
}

.aspect-ratio-3-4 {
  aspect-ratio: 3/4 !important;
}

.aspect-ratio-9-16 {
  aspect-ratio: 9/16 !important;
}

@media only screen and (max-width: 767.98px) {
  .curvy-card {
    padding: 2em 1em 3em 1em;
    border-radius: 20px;
  }

  #logo {
    width: auto !important;
    height: 4em !important;
    aspect-ratio: 0 !important;
    background-color: transparent !important;
  }

  #logo img {
    width: auto !important;
    height: 100% !important;
  }

  #logo img {
    filter: saturate(0) brightness(0.75);
  }

  .active #logo img {
    filter: none;
  }
}

@media only screen and (min-width: 768px){
  section {
    padding: 2em 3.2em !important;
  }
  
  .section-padding {
    padding: 2em 3.2em !important;
  }

  .emphasis-md {
    border-left: 2px solid var(--blue) !important;
  }

  div.bg-md-white {
    background: white !important;
  }

  .aspect-ratio-md-0 {
    aspect-ratio: 0 !important;
  }

  .aspect-ratio-md-1-1 {
    aspect-ratio: 1/1 !important;
  }

  .aspect-ratio-md-4-3 {
    aspect-ratio: 4/3 !important;
  }

  div.w-md-50 {
    width: 50% !important;
  }
  
  div.w-md-75 {
    width: 75% !important;
  }

  div.h-md-50 {
    height: 50% !important;
  }
  
  div.h-md-75 {
    height: 75% !important;
  }

  div.h-md-auto {
    height: auto !important;
  }

  .flex-basis-md-auto {
    flex: 0 0 auto !important;
    flex-basis: auto !important;
    height: auto !important;
  }

  .text-md-black * {
    color: var(--black) !important;
  }

  .text-md-black a {
    color: var(--black) !important;
  }
}


@media only screen and (min-width: 992px){
  section {
    padding: 3em 4.8em !important;
  }
  
  .section-padding {
    padding: 3em 4.8em !important;
  }

  div.w-lg-50 {
    width: 50% !important;
  }
  
  div.w-lg-75 {
    width: 75% !important;
  }

  h3.w-lg-50 {
    width: 50% !important;
  }
  
  h3.w-lg-75 {
    width: 75% !important;
  }

  .gallery-thumbnails {
    overflow-x: hidden;
  }
  
}

@media only screen and (min-width: 1200px) {
  section {
    padding: 4em 6.45em !important;
  }
  
  .section-padding {
    padding: 4em 6.45em !important;
  }

  .flex-basis-xl-50 {
    flex: 0 0 auto;
    flex-basis: 50%;
    height: auto;
  }

  div.w-xl-50,
  img.w-xl-50 {
    width: 50% !important;
  }
  
  div.w-xl-75,
  img.w-xl-75 {
    width: 75% !important;
  }  

  div.w-xl-100,
  img.w-xl-100 {
    width: 100% !important;
  }

  h3.w-xl-50 {
    width: 50% !important;
  }
  
  h3.w-xl-75 {
    width: 75% !important;
  }
}

@media only screen and (min-width: 1400px) {
  section {
    padding: 5em 8em !important;
  }
  
  .section-padding {
    padding: 5em 8em !important;
  }

  .text-xxl-sideways.bottom {
    writing-mode: vertical-rl !important;
    transform: rotate(-180deg) !important;
  }
  
  .text-xxl-sideways.top {
    writing-mode: vertical-lr !important;
  }

  .flex-basis-xxl-75 {
    flex: 0 0 auto;
    flex-basis: 75%;
    height: auto;
  }

  .flex-basis-xxl-25 {
    flex: 0 0 auto;
    flex-basis: 25%;
    height: auto;
  }
  
  .flex-basis-xxl-65 {
    flex: 0 0 auto;
    flex-basis: 60%;
    height: auto;
  }

  .flex-basis-xxl-35 {
    flex: 0 0 auto;
    flex-basis: 40%;
    height: auto;
  }

  div.w-xxl-25 {
    width: 25% !important;
  }

  h5.w-xxl-25 {
    width: 25% !important;
  }
}

.flex-separator {
  display: inline-block !important;
  position: absolute;
}

.stack-item {
  display: inline-block;
  position: relative;
}

.stack-item-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.fan-out .item-1 {
  transform:  rotateZ(-20deg);
  transform-origin: right bottom;
}



.with-animation.start .animate.fan-out {
  animation: fanOutLeft45 0.5s;
}

@keyframes fanOutLeft45 {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(-120deg);
  }
}

#nav-socials-container {
  flex: none;
  display: inline-block;
  position: absolute;
  padding: 0 !important;
  right: 0;
  top: 0;
  height: 100%;
}

#nav-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  row-gap: 0.5em;
}

a.social-link {
  color: var(--black-65) !important;
  font-size: 1.25em;
  transition: color 0.2s ease;
}

a.social-link:hover {
  color: var(--blue) !important;
}

select {
  font-family: 'Helvetica-Regular' !important;
  font-size: 1.125em !important;
  text-align: center !important;
  background-color: white !important;
  width: 100%;
  border: 2px solid rgb(0, 0, 0, 0.125);
}

select::after {
  content: 'v'
}

.opacity-65 {
  opacity: 0.65;
}