@font-face {
  font-family: 'Nunito-Light';
  src: url('fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica-Light';
  src: url('fonts/Helvetica-Light.otf');
}

@font-face {
  font-family: 'Helvetica-Regular';
  src: url('fonts/Helvetica-Regular.otf');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('fonts/Helvetica-Bold.otf');
}

:root {
  --smeared-shadow: 10px 20px 40px 10px rgba(105, 105, 105, 0.25);
  --blue: #006cb4;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f7 !important;
  font-family: 'Helvetica-Regular' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 5em 8em;
}

.frame {
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--smeared-shadow);
  height: auto;
  overflow: hidden;
}

.frame.lg {
  width: 20em;
}

.frame.md {
  width: 17em;
}

.frame.sm {
  width: 12em;
}

.frame.xs{
  width: 10em;
}

.frame img {
  width: 100%;
  object-fit: cover;
}

.curvy-card {
  background-color: #ffffff;
  box-shadow: var(--smeared-shadow);
  border-radius: 100px;
  padding: 4em 5em 4em 3em;
}

.curvy-card img {
  height: auto;
  object-fit: contain;
}

h1.mega {
  font-size: 3em;
}

h1.giga {
  font-size: 4em;
}

h1.tera {
  font-size: 5em;
}

h1.peta {
  font-size: 6em;
}

h1.exa {
  font-size: 7em;
}

h1.zetta{
  font-size: 8em;
}

.lh-half {
  line-height: 0.5;
}

.lh-3quarter {
  line-height: 0.75;
}

.lh-whole {
  line-height: 1;
}

.lh-wholeAndHalf {
  line-height: 1.5 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.font-light {
  font-family: 'Helvetica-Light' !important;
}

.font-regular {
  font-family: 'Helvetica-Regular' !important;
}

.font-bold{
  font-family: 'Helvetica-Bold' !important;
}

.text-upwards {
  writing-mode:sideways-lr;
  text-orientation: upright
}

.bg-white-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-gray-25 {
  background-color: #f5f5f7 ;
}

.flex-basis-25 {
  flex: 0 0 auto;
  flex-basis: 25%;
  height: auto;
}

.flex-basis-33 {
  flex: 0 0 auto;
  flex-basis: 33.33%;
  height: auto;
}

.scroll-horizontal {
  overflow-x: scroll;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.shape-square {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.shadow-none {
  box-shadow: 0 !important;
}

.bg-gradient-blue {
  background: linear-gradient(135deg,#1c7df3,#1abcfa);
}

.bg-blue-5 {
  background-color: rgb(2, 154, 255, 0.05);
}

.bg-blue-10 {
  background-color: rgb(2, 154, 255, 0.10);
}

.bg-blue-25 {
  background-color: rgb(2, 154, 255, 0.25);
}

.text-blue {
  color: var(--blue);
}

.emphasis {
  border-left: 2px solid var(--blue);
}

.clickable {
  pointer-events: all;
  cursor: pointer;
}

.rotate-in {
  animation: rotateIn 0.5s;
}

.rotate-out {
  animation: rotateOut 0.5s;
}

.bttn-transparent {
  background-color: transparent;
  border: 0;
}

.bg-blur {
  backdrop-filter: blur(5px);
}

#logo {
  width: 4em;
  height: auto;
  aspect-ratio: 1/1;
  padding: 5% 10%;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}

.active #logo {
  background-color: var(--blue);
}

#logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.nav-link.active {
  color: var(--blue) !important;
}

@keyframes fadeBlurFloat {
  0% {
    opacity: 0;
    filter: blur(5px);
    translate: 0 5em;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    translate: 0 0;
  }
}

@keyframes rotateIn {
  0% {
    scale: 1 -1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes rotateOut {
  0% {
    scale: 1 -1;
  }
  100% {
    scale: 1 1;
  }  
}

@keyframes appearFromRight {
  0% {
    transform: translateX(10%);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}


@keyframes appearFromBottom {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes growFromBottom {
  0% {
    scale: .75;
    transform: translateY(50%);
    visibility: hidden;
  }
  100% {
    scale: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes bumpScootFromRight {
  0% {
    transform: translateX(25%) scaleX(1);
    visibility: hidden;
  }
  50%{
    transform: translateX(-25%) scaleX(0.85);
    visibility: visible;
  }
  100% {
    transform: translateX(0) scaleX(1);
    visibility: visible;
  }
}

.animate.start.fade-blur-float {
  animation: fadeBlurFloat 0.75s;
}

.animate.start.fade-blur-float.slow {
  animation: fadeBlurFloat 1s !important;
}

.animate.start.fade-blur-float.very-slow {
  animation: fadeBlurFloat 1.5s !important;
}

.animate.start.appear-right {
  animation: appearFromRight 0.75s;
}

.animate.start.appear-right.slow {
  animation: appearFromRight 1s !important;
}

.animate.start.appear-right.very-slow {
  animation: appearFromRight 1.5s !important;
}

.animate.start.appear-top.very-fast {
  animation: appearFromTop 0.25s;
}

.animate.start.appear-top.fast {
  animation: appearFromTop 0.5s;
}

.animate.start.appear-top {
  animation: appearFromTop 0.75s !important;
}

.animate.start.appear-top.slow {
  animation: appearFromTop 1s !important;
}

.animate.start.appear-top.very-slow {
  animation: appearFromTop 1.5s !important;
}

.animate.start.appear-bottom.very-fast {
  animation: appearFromBottom 0.25s;
}

.animate.start.appear-bottom.fast {
  animation: appearFromBottom 0.5s;
}

.animate.start.appear-bottom {
  animation: appearFromBottom 0.75s;
}

.animate.start.appear-bottom.slow {
  animation: appearFromBottom 1s !important;
}

.animate.start.appear-bottom.very-slow {
  animation: appearFromBottom 1.5s !important;
}

.animate.start.grow-bottom {
  animation: growFromBottom 0.75s;
}

.animate.start.grow-bottom.slow {
  animation: growFromBottom 1s;
}

.animate.start.grow-bottom.very-slow {
  animation: growFromBottom 1.5s;
}

.animate.start.bump-scoot-right {
  animation: bumpScootFromRight 1s;
}

.animate.start.bump-scoot-right.delay-0 {
  animation: bumpScootFromRight 1s;
}

.animate.start.bump-scoot-right.delay-1 {
  animation: bumpScootFromRight 1s 0.1s;
}

.animate.start.bump-scoot-right.delay-2 {
  animation: bumpScootFromRight 1s 0.2s;
}

.animate.start.bump-scoot-right.delay-3 {
  animation: bumpScootFromRight 1s 0.3s;
}

.animate.start.bump-scoot-right.delay-4 {
  animation: bumpScootFromRight 1s 10.4s;
}